{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "import/no-unresolved": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": "webpack.config.js"
    }
  },
  "env": {
    "browser": true
  }
}
